<div class="mb-3">
  <div class="mb-3">
    <label for="title" class="form-label mt-4">Main Image </label>
    <input
      required
      value="<%= article.image %>"
      type="text"
      class="form-control"
      id="author"
      name="image"
    />
    <label for="title" class="form-label mt-4">Image-1 </label>
    <input
      value="<%= article.image1 %>"
      type="text"
      class="form-control"
      id="author"
      name="image1"
    />
    <label for="title" class="form-label mt-4">Image-2 </label>
    <input
      value="<%= article.image2 %>"
      type="text"
      class="form-control"
      id="author"
      name="image2"
    />
    <label for="title" class="form-label mt-4">Related-2 </label>
    <input
      value="<%= article.related2 %>"
      type="text"
      class="form-control"
      id="related2"
      name="related2"
    />
    <label for="title" class="form-label mt-4">Related-1 </label>
    <input
      value="<%= article.related1 %>"
      type="text"
      class="form-control"
      id="related1"
      name="related1"
    />
    <label for="title" class="form-label mt-4"
      >Video : <%= article.video %>
    </label>
    <input
      value="<%= article.video %>"
      type="text"
      class="form-control"
      id="video"
      name="video"
    />
    <label for="title" class="form-label mt-4"
      >Video1 : <%= article.video1 %>
    </label>
    <input
      value="<%= article.video1 %>"
      type="text"
      class="form-control"
      id="video1"
      name="video1"
    />
    <!-- <input
      hidden
      type="text"
      name="image"
      value="<%= article.image %> "
      id="imagesUrl"
      class="form-control"
    /> -->
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Author</label>
    <input
      required
      value="<%= article.author %> "
      type="text"
      class="form-control"
      id="author"
      name="author"
    />
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      required
      value="<%= article.title %> "
      type="text"
      class="form-control"
      id="title"
      name="title"
    />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input
      required
      class="form-control"
      id="category"
      name="category"
      value=" <%= article.category %>"
    />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">tags</label>
    <input
      required
      class="form-control"
      id="tags"
      name="tags"
      value=" <%= article.tags %>"
    />
  </div>
  <div>
    90-day-fiance , 90-day-fiance-before-the-90-days , 90-day
    fiance-couples,90-day-fiance-happy-ever-after, 90-day-fiance-couples, lpbw ,
    the-ultimatum-marry-or-move-on( nick-vanessa-lachey , zay-wilson ,
    rae-williams )
    <br />
    ella-Johnson , Johnny , mike-berk , ben-rathbun , mahogany-roca ,<br />
    memphis-smith , hamza-moknii, angela-deem , angela-deem , big-ed , <br />
    darcy-silva , mohamed-jbali , danielle-jbali , anfisa , ximena-morales ,
    larissa-santos-lima , stephanie-matto , yara-zaya , libby-potthast-castravet
    , usman-umar , kim-Menzies , Jasmine Pineda , Gino Palazzolo , movies ,
    reviews , Karine Staehle , Conor Mcgregor , sumit-singh , jenny-slatten ,
    David Toborowsky , Annie Suwan , geoffrey-ian-paschel's , colt-johnson ,
    stories, relationship , linda-ramirez , tim-malcolm , bilal-hazziez ,
    shaeeda-sween
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea required class="form-control" id="description" name="description">
 <%= article.description %></textarea
    >
  </div>
  <div class="mb-3">
    <label for="markdown" class="form-label">Article Text</label>
    <textarea
      required
      class="form-control"
      id="markdown"
      name="markdown"
      rows="15"
    >
 <%= article.markdown %></textarea
    >
  </div>

  <div class="mb-3">
    <label for="markdown1" class="form-label">Article Text</label>
    <textarea
      required
      class="form-control"
      id="markdown1"
      name="markdown1"
      rows="15"
    >
 <%= article.markdown1 %></textarea
    >
  </div>
  <div class="mb-3">
    <label for="markdown2" class="form-label">Article Text</label>
    <textarea
      required
      class="form-control"
      id="markdown2"
      name="markdown2"
      rows="15"
    >
 <%= article.markdown2 %></textarea
    >
  </div>
  <div class="mb-3">
    <label for="markdown3" class="form-label">Article Text</label>
    <textarea
      required
      class="form-control"
      id="markdown3"
      name="markdown3"
      rows="15"
    >
 <%= article.markdown3 %></textarea
    >
  </div>
  <div class="mb-3">
    <label for="markdown4" class="form-label">Article Text</label>
    <textarea
      required
      class="form-control"
      id="markdown4"
      name="markdown4"
      rows="15"
    >
 <%= article.markdown4 %></textarea
    >
  </div>

  <div class="d-flex flex-row-reverse">
    <button type="submit" class="btn m-2 btn-primary">Submit</button>
    <a href="/" class="btn btn-secondary m-2">Cancel</a>
  </div>
</div>
